@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 1440px;
    margin: 86px auto 0 auto;
}
/*------------------------------header--------------------------------------*/
header{
    width: 1440px;
    height: 86px;
    padding: 22px 95px 15px 95px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index: 1;
}
header p{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
header span{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header svg{
    margin-right: 10px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header nav ul a{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
header button{
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
    padding: 10px 17px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/*------------------------------main--------------------------------------*/
main{
    width: 1440px;
    height: 900px;
    background: #EFF0F3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 116px;
    padding: 164px 95px 263px 95px;
}
h1{
    width: 617px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
main div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    margin: 12px 0;
}
main p{
    width: 665px;
    color: #9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 3px solid #2B2C34;
    padding-left: 12px;
}
main .email{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}
input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-style: none;
    background: White;

    color: Grey;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}
main button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
img{
    width: 470px;;
}
/*------------------------------section--------------------------------------*/
section{
    width: 1440px;
    height: 500px;
    padding: 67px 94px 68px 94px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    background: #EFF0F3;
}
section .subheader{
    width: 1252px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .subheader h3{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
section .subheader span{
    color: #2B2C34;
    text-align: right;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}
section .subheader div{
    display: flex;
    gap: 12px;
}
section .subheader div svg{
    margin: 8px 8px 0 0;
}
section .category-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 37px;
}
section .category-wrapper .category{
    width: 220px;
    height: 280px;
    padding: 65px 94px 95px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: 1s;
    cursor: pointer;
}
.JavaScript{
    border-radius: 7.458px;
}
section .category-wrapper .category img{
    width: 60px;
}
section .category-wrapper .category p{
    width: 98px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
section .category-wrapper .category:hover{
    background-color: #6246EA;
    transition: 2s;
    p{
        color: #FFFFFE;
        transition: 0.5s;
}
}
/*------------------------------article--------------------------------------*/
article{
    width: 1440px;
    height: 2504px;
    padding: 80px 0 80px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    background: #FFFFFE;
}
article .article-gallery{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
article .subheader{
    width: 1252px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .subheader h3{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
article .subheader span{
    color: #2B2C34;
    text-align: right;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}
article .subheader div{
    display: flex;
    gap: 12px;
}
article .subheader div svg{
    margin: 8px 8px 0 0;
}
article .article-gallery .article-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
}
article .article-gallery .article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 425px;
    padding: 20px;
    border-radius: 12px;
    transition: 1s;
    cursor: pointer;
}
article .article-gallery .article:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: 1s;
}
article .article-gallery .article .article-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
article .article-gallery .article .article-image img{
    width: 260px;
    height: 198px;
}
article .article-gallery .article .article-image p{
    width: 260px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
article .article-gallery .article .Dasteen-image{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}
article .article-gallery .article .Dasteen-image img{
    width: 57px;
    height: 57px;
}
article .article-gallery .article .Dasteen-image div{
    padding-top: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}
article .article-gallery .article .Dasteen-image div p{
    width: 73px;
    height: 21px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
article .article-gallery .article .Dasteen-image div span{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    white-space: pre-wrap;
}
article button{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/*------------------------------address--------------------------------------*/
address{
    width: 1440px;
    height: 453px;
    padding: 58px 0 58px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #EFF0F3;
}
address img{
    width: 130px;
    height: 130px;
    position: absolute;
}
address svg{
    width: 130px;
    height: 130px;
}
address .address-wrapper{
    width: 696px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
address .address-wrapper .address-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
address .address-wrapper h2{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
address .address-wrapper p{
    width: 696px;
    color: #C0C0C0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
address .email{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}
address button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    background: #6246EA;

    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
/*------------------------------footer--------------------------------------*/
footer{
    width: 1440px;
    height: 435px;
    padding: 70px 96px 26px 95px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #E4E5E9;
}
footer .footer-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 160px;
}
footer .footer-wrapper .site-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
footer .footer-wrapper .site-card p{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
footer .footer-wrapper .site-card p span{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer .footer-wrapper .site-card span{
    width: 284px;
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .footer-wrapper .site-card .social-media{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
}
footer .footer-wrapper .site-card .social-media svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
footer .footer-wrapper .footer-navigation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 95px;
}
footer .footer-wrapper .footer-navigation div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
footer .footer-wrapper .footer-navigation div h4{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
footer .footer-wrapper .footer-navigation div p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
footer .line{
    width: 1250px;
    height: 1px;
    margin: 50px 0 26px 0;
    background-color: #C0C0C0;
    opacity: 80%;
}
footer p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}